/* Container */
.card {
    width: 250px;
    padding: 16px;
    border-radius: 12px;
    background: #c37600;
    border: 1px solid #e5e7eb;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

/* Header */
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.card-title {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

.card-price {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

/* Input */
.card-input {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: 1px solid #000000;
    font-size: 14px;
}
